<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">

    <% console.log(locals.ids); %>
<% console.log(newListItems); %>
    <% for (let i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input id="<%= id[i] %>" type="checkbox" class="recordCheckBox">
        <p><%=  newListItems[i]  %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
